default_stages: [pre-commit]

repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.12.0
    hooks:
      - id: black

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: debug-statements

#  - repo: https://github.com/christopher-hacker/enforce-notebook-run-order
#    rev: 2.1.1
#    hooks:
#      - id: enforce-notebook-run-order

  - repo: local
    hooks:
      - id: check-notebooks
        name: check notebooks
        entry: check_notebooks
        additional_dependencies:
          - nbformat
        language: python
        types: [jupyter]
        exclude: tests/examples/bad.ipynb

      - id: check-badges
        name: check badges
        entry: check_badges
        additional_dependencies:
          - nbformat
          - pytest
          - gitpython
        args: [--fix-header, --repo-name=devops_tests]
        language: python
        types: [jupyter]
        exclude: tests/examples/bad.ipynb

      - id: notebooks-output
        name: notebooks output
        entry: notebooks_output
        additional_dependencies:
          - nbformat
        language: python
        types: [jupyter]
        exclude: tests/examples/bad.ipynb

      - id: notebooks-using-jupyter-utils
        name: notebooks using open-atmos-jupyter-utils
        entry: notebooks_using_jupyter_utils
        additional_dependencies:
          - nbformat
        language: python
        types: [ jupyter ]
