default_stages: [pre-commit]

repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: debug-statements

  - repo: https://github.com/christopher-hacker/enforce-notebook-run-order
    rev: 2.1.1
    hooks:
      - id: enforce-notebook-run-order

  - repo: local
    hooks:
      - id: check-notebooks
        name: check notebooks
        entry: check_notebooks
        additional_dependencies:
          - nbformat
        language: python
        types: [jupyter]

      - id: check-notebook-open-atmos-structure
        name: check notebook has open-atmos structure
        entry: python -m hooks.check_notebook_open_atmos_structure
        additional_dependencies:
          - nbformat
          - pytest
          - gitpython
        args: [--fix-header, --repo-name=devops_tests]
        language: python
        types: [jupyter]
